[submodule "Animation"]
	path = TheGameGame/Assets/SR_Animation
	url = https://github.com/uvuanimationandgamedev/SR_Animation
[submodule "TheGameGame/Assets/SR_Audio"]
	path = TheGameGame/Assets/SR_Audio
	url = https://github.com/uvuanimationandgamedev/SR_Audio
[submodule "TheGameGame/Assets/Scripts/SR_CharacterScripts"]
	path = TheGameGame/Assets/Scripts/SR_CharacterScripts
	url = https://github.com/uvuanimationandgamedev/SR_CharacterScripts
[submodule "TheGameGame/Assets/Scripts/SR_MechanicScripts"]
	path = TheGameGame/Assets/Scripts/SR_MechanicScripts
	url = https://github.com/uvuanimationandgamedev/SR_MechanicScripts
[submodule "TheGameGame/Assets/Scripts/SR_EnemyScripts"]
	path = TheGameGame/Assets/Scripts/SR_EnemyScripts
	url = https://github.com/uvuanimationandgamedev/SR_EnemyScripts
[submodule "TheGameGame/Assets/SR_CollectableScripts"]
	path = TheGameGame/Assets/SR_CollectableScripts
	url = https://github.com/uvuanimationandgamedev/SR_CollectableScripts
[submodule "TheGameGame/Assets/SR_Models"]
	path = TheGameGame/Assets/SR_Models
	url = https://github.com/uvuanimationandgamedev/SR_Models
